@mixin widget-custom-card {
  box-shadow: 2px -4px 10px rgba(255, 255, 255, 0.6), -2px 4px 10px rgba(112, 108, 162, 0.05);
  border-radius: 20px;
  background: #fff;
}

.q-card.custom-card:not([class^="col"]) {
  @include widget-custom-card;
}

.body--dark .q-card.custom-card,
.q-card.q-card--dark {
  background: #333333;
  .title,
  .full-name {
    color: white !important;
  }
}

