@import "src/css/Theme/colors";

::-webkit-scrollbar{
  width: 6px ;
  height: 5px;
  border-radius: 6px ;
  background-color: var(--q-primary);
}

::-webkit-scrollbar-track{
  border-radius: 6px ;
  background-color: #F5F5F5 ;
}

::-webkit-scrollbar-thumb{
  border-radius: 6px ;
  background-color: var(--q-primary);
}
